version: "3.7"

services:
  seed:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    build: # reused by the other services
      context: ../../
      args:
        - BUILDARGS
    env_file: "${COMPOSE_HOST_PATH:-.}/env.seed"
    networks:
      - blockchain
    volumes:
      - data-seed:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-seed:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS

  miner0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner0"
    networks:
      - blockchain
    volumes:
      - data-miner0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-miner0:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS

  miner1:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner1"
    networks:
      - blockchain
    volumes:
      - data-miner1:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-miner1:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS

  miner2:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner2"
    networks:
      - blockchain
    volumes:
      - data-miner2:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-miner2:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS

  miner3:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner3"
    networks:
      - blockchain
    volumes:
      - data-miner3:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-miner3:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS

  gateway0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.gateway0"
    ports:
      - "${COMPOSE_DVOTE_PORT_MAPPING:-9090:9090}"
    networks:
      - blockchain
    volumes:
      - data-gateway0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-gateway0:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS
      - VOCDONI_VOCHAIN_SNAPSHOTINTERVAL=3
      - VOCDONI_VOCHAIN_STATESYNCCHUNKSIZE=2000

  test:
    image: "dvotenode-test:${TESTSUITE_BUILD_TAG:-latest}"
    build:
      context: ../../
      target: test
      args:
        - BUILDARGS
    networks:
      - blockchain
    volumes:
      - /tmp/.vochain-zkCircuits/:/root/.cache/vocdoni/zkCircuits/
      - gocoverage-test:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS
    command: "true"

  gocoverage:
    image: golang:1.21
    volumes:
      - gocoverage-seed:/app/run/gocoverage/seed
      - gocoverage-miner0:/app/run/gocoverage/miner0
      - gocoverage-miner1:/app/run/gocoverage/miner1
      - gocoverage-miner2:/app/run/gocoverage/miner2
      - gocoverage-miner3:/app/run/gocoverage/miner3
      - gocoverage-gateway0:/app/run/gocoverage/gateway0
      - gocoverage-gatewaySync:/app/run/gocoverage/gatewaySync
      - gocoverage-test:/app/run/gocoverage/test
    networks:
      - blockchain

  prometheus:
    image: prom/prometheus:v2.26.0
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--log.level=debug"
    networks:
      - blockchain
    profiles:
      - grafana

  grafana:
    image: grafana/grafana
    user: "104"
    depends_on:
      - prometheus
    networks:
      - blockchain
    ports:
      - "[::1]:3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    profiles:
      - grafana

  gatewaySync:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.gatewaySync"
    networks:
      - blockchain
    volumes:
      - data-gatewaySync:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - /tmp/.vochain-zkCircuits/:/app/run/zkCircuits/
      - gocoverage-gatewaySync:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
      - LOG_PANIC_ON_INVALIDCHARS
      - VOCDONI_LOGLEVEL=debug
      - VOCDONI_VOCHAIN_STATESYNCENABLED=true
      - VOCDONI_VOCHAIN_STATESYNCRPCSERVERS=miner0:26657,miner0:26657
      - VOCDONI_VOCHAIN_STATESYNCFETCHPARAMSFROMAPI
    profiles:
      - statesync

networks:
  blockchain:

volumes:
  data-seed: {}
  data-miner0: {}
  data-miner1: {}
  data-miner2: {}
  data-miner3: {}
  data-gateway0: {}
  data-gatewaySync: {}
  gocoverage-seed: {}
  gocoverage-miner0: {}
  gocoverage-miner1: {}
  gocoverage-miner2: {}
  gocoverage-miner3: {}
  gocoverage-gateway0: {}
  gocoverage-gatewaySync: {}
  gocoverage-test: {}
  prometheus_data: {}
  grafana_data: {}

