version: "3.7"

services:
  seed:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    build: # reused by the other services
      context: ../../
      args:
        - BUILDARGS
    env_file: "${COMPOSE_HOST_PATH:-.}/env.seed"
    volumes:
      - data-seed:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-seed:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage

  miner0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner0"
    volumes:
      - data-miner0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-miner0:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    links:
      - seed

  miner1:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner1"
    volumes:
      - data-miner1:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-miner1:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    links:
      - seed

  miner2:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner2"
    volumes:
      - data-miner2:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-miner2:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    links:
      - seed

  miner3:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner3"
    volumes:
      - data-miner3:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-miner3:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    links:
      - seed

  gateway0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.gateway0"
    ports:
      - "${COMPOSE_DVOTE_PORT_MAPPING:-9090:9090}"
    volumes:
      - data-gateway0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
      - ${COMPOSE_HOST_PATH:-.}/zkCircuits:/app/run/dev/vochain/data/txHandler/zkCircuits/
      - gocoverage-gateway0:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    links:
      - seed

  test:
    image: "dvotenode-test:${TESTSUITE_BUILD_TAG:-latest}"
    build:
      context: ../../
      target: test
      args:
        - BUILDARGS
    links:
      - gateway0
    volumes:
      - gocoverage-test:/app/run/gocoverage
    environment:
      - GOCOVERDIR=/app/run/gocoverage
    command: "true"
  gocoverage:
    image: golang:1.20
    volumes:
      - gocoverage-seed:/app/run/gocoverage/seed
      - gocoverage-miner0:/app/run/gocoverage/miner0
      - gocoverage-miner1:/app/run/gocoverage/miner1
      - gocoverage-miner2:/app/run/gocoverage/miner2
      - gocoverage-miner3:/app/run/gocoverage/miner3
      - gocoverage-oracle:/app/run/gocoverage/oracle
      - gocoverage-gateway0:/app/run/gocoverage/gateway0
      - gocoverage-test:/app/run/gocoverage/test

volumes:
  data-seed: {}
  data-miner0: {}
  data-miner1: {}
  data-miner2: {}
  data-miner3: {}
  data-oracle: {}
  data-gateway0: {}
  gocoverage-seed: {}
  gocoverage-miner0: {}
  gocoverage-miner1: {}
  gocoverage-miner2: {}
  gocoverage-miner3: {}
  gocoverage-oracle: {}
  gocoverage-gateway0: {}
  gocoverage-test: {}
