version: "3.7"

services:
  seed:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    build: # reused by the other services
      context: ../../
    env_file: "${COMPOSE_HOST_PATH:-.}/env.seed"
    volumes:
      - data-seed:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json

  miner0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner0"
    volumes:
      - data-miner0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner1:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner1"
    volumes:
      - data-miner1:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner2:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner2"
    volumes:
      - data-miner2:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner3:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner3"
    volumes:
      - data-miner3:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner4:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner4"
    volumes:
      - data-miner4:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner5:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner5"
    volumes:
      - data-miner5:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  miner6:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file: "${COMPOSE_HOST_PATH:-.}/env.miner6"
    volumes:
      - data-miner6:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  oracle:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file:
      - "${COMPOSE_HOST_PATH:-.}/env.oracle"
      - "${COMPOSE_HOST_PATH:-.}/env.oracle0key"
    volumes:
      - data-oracle:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed

  gateway0:
    image: "dvotenode:${TESTSUITE_BUILD_TAG:-latest}"
    env_file:
      - "${COMPOSE_HOST_PATH:-.}/env.gateway0"
      - "${COMPOSE_HOST_PATH:-.}/env.entity0key"
    ports:
      - "${COMPOSE_DVOTE_PORT_MAPPING:-9090:9090}"
    volumes:
      - data-gateway0:/app/run/
      - ${COMPOSE_HOST_PATH:-.}/genesis.json:/app/misc/genesis.json
    links:
      - seed
  

  test:
    image: "dvotenode-test:${TESTSUITE_BUILD_TAG:-latest}"
    build:
      context: ../../
      target: test
    links:
      - gateway0
    command: "true"

volumes:
  data-seed: {}
  data-miner0: {}
  data-miner1: {}
  data-miner2: {}
  data-miner3: {}
  data-miner4: {}
  data-miner5: {}
  data-miner6: {}
  data-oracle: {}
  data-gateway0: {}
