# Binaries for programs and plugins
/cli
/end2endtest
/node
/voconed
/vochaininspector
*.exe
*.exe~
*.dll
*.so
*.dylib
zkCircuits

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
gocoverage*

# Docker files and dirs
env.local
run
env

# VSCode
.vscode

# GoLand
.idea
