version: "3.4"
services:
  vocdoninode:
    build:
      context: ../../
    image: "ghcr.io/vocdoni/vocdoni-node:stage"
    env_file: env
    volumes:
      - "run:/app/run"
      - "eth:/app/eth:ro"
    ports:
      - "443:9090"
      - "9090:9090"
      - "9091:9091"
      - "4001:4001"
      - "4171:4171"
      - "5001:5001"
      - "30303:30303"
      - "30303:30303/udp"
      - "9096:9096"
      - "26656:26656"
      - "26657:26657"
      - "26658:26658"
      - "61000-61100:61000-61100"
    sysctls:
      net.core.somaxconn: 8128
    restart: ${RESTART:-no}

volumes:
  run: {}
  eth: {}
