VOCDONI_DATADIR=/app/run
VOCDONI_MODE=gateway
VOCDONI_CHAIN=dev
VOCDONI_LOGLEVEL=info
#VOCDONI_LOGERRORFILE=
#VOCDONI_LOGOUTPUT=stdout
#VOCDONI_SAVECONFIG=False
VOCDONI_DEV=True
#VOCDONI_SIGNINGKEY=
#VOCDONI_PPROFPORT=61001
VOCDONI_ENABLEAPI=True
VOCDONI_ENABLERPC=False
VOCDONI_LISTENHOST=0.0.0.0
VOCDONI_LISTENPORT=9090
VOCDONI_ARCHIVEURL=/ipns/k2k4r8otxrf176h1i08txap0ep6ynr1jac0vymozi068eedml7gk1595
#VOCDONI_TLS_DIRCERT=
#VOCDONI_TLS_DOMAIN=
#VOCDONI_ADMINTOKEN=
#VOCDONI_ENABLEFAUCETWITHAMOUNT=0
#VOCDONI_IPFS_CONFIGPATH=
#VOCDONI_IPFS_CONNECTKEY=
#VOCDONI_IPFS_CONNECTPEERS=
#VOCDONI_VOCHAIN_DATADIR=
#VOCDONI_VOCHAIN_P2PLISTEN=0.0.0.0:26656
#VOCDONI_VOCHAIN_PUBLICADDR=
#VOCDONI_VOCHAIN_RPCLISTEN=127.0.0.1:26657
#VOCDONI_VOCHAIN_LOGLEVEL=error
#VOCDONI_VOCHAIN_PEERS=
#VOCDONI_VOCHAIN_SEEDS=
#VOCDONI_VOCHAIN_GENESIS=
#VOCDONI_VOCHAIN_MINERKEY=
#VOCDONI_VOCHAIN_NODEKEY=
#VOCDONI_VOCHAIN_NOWAITSYNC=False
#VOCDONI_VOCHAIN_MEMPOOLSIZE=20000
#VOCDONI_VOCHAIN_MINERTARGETBLOCKTIMESECONDS=10
#VOCDONI_VOCHAIN_KEYKEEPERINDEX=
#VOCDONI_VOCHAIN_IMPORTPREVIOUSCENSUS=False
#VOCDONI_VOCHAIN_PROCESSARCHIVE=False
#VOCDONI_VOCHAIN_PROCESSARCHIVEKEY=
#VOCDONI_METRICS_ENABLED=False
#VOCDONI_METRICS_REFRESHINTERVAL=5
