DVOTE_DATADIR=/app/run
#DVOTE_MODE=gateway
#DVOTE_VOCHAIN=main
#DVOTE_LOGLEVEL=info
#DVOTE_LOGERRORFILE=
#DVOTE_LOGOUTPUT=stdout
#DVOTE_SAVECONFIG=False
DVOTE_DEV=True
#DVOTE_SIGNINGKEY=
#DVOTE_PPROFPORT=61001
#DVOTE_API_FILE=True
#DVOTE_API_CENSUS=False
#DVOTE_API_VOTE=True
#DVOTE_API_RESULTS=True
#DVOTE_API_INDEXER=False
#DVOTE_API_URL=False
#DVOTE_API_ROUTE=/dvote
#DVOTE_API_ALLOWPRIVATE=True
#DVOTE_API_ALLOWEDADDRS=
#DVOTE_API_LISTENHOST=0.0.0.0
#DVOTE_API_LISTENPORT=9090
#DVOTE_API_SSL_DIRCERT=
#DVOTE_API_SSL_DOMAIN=
#DVOTE_IPFS_CONFIGPATH=
#DVOTE_IPFS_NOINIT=False
#DVOTE_IPFS_CONNECTKEY=
#DVOTE_IPFS_CONNECTPEERS=
#DVOTE_VOCHAINCONFIG_DATADIR=
#DVOTE_VOCHAINCONFIG_P2PLISTEN=0.0.0.0:26656
#DVOTE_VOCHAINCONFIG_PUBLICADDR=
#DVOTE_VOCHAINCONFIG_RPCLISTEN=127.0.0.1:26657
#DVOTE_VOCHAINCONFIG_LOGLEVEL=error
#DVOTE_VOCHAINCONFIG_PEERS=
#DVOTE_VOCHAINCONFIG_SEEDS=
#DVOTE_VOCHAINCONFIG_CREATEGENESIS=
#DVOTE_VOCHAINCONFIG_GENESIS=
#DVOTE_VOCHAINCONFIG_MINERKEY=
#DVOTE_VOCHAINCONFIG_NODEKEY=
#DVOTE_VOCHAINCONFIG_NOWAITSYNC=False
#DVOTE_VOCHAINCONFIG_DEV=
#DVOTE_VOCHAINCONFIG_MEMPOOLSIZE=20000
#DVOTE_VOCHAINCONFIG_MINERTARGETBLOCKTIMESECONDS=10
#DVOTE_VOCHAINCONFIG_KEYKEEPERINDEX=
#DVOTE_VOCHAINCONFIG_IMPORTPREVIOUSCENSUS=False
#DVOTE_VOCHAINCONFIG_ETHEREUMWHITELISTADDRS=
#DVOTE_VOCHAINCONFIG_PROCESSARCHIVE=False
#DVOTE_VOCHAINCONFIG_PROCESSARCHIVEKEY=
#DVOTE_METRICS_ENABLED=False
#DVOTE_METRICS_REFRESHINTERVAL=5
