---

name: Main

on: [push, pull_request]

jobs:
  go-tests:
    runs-on: self-hosted
    if: github.repository == 'vocdoni/vocdoni-node'
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.30.0
        $(go env GOPATH)/bin/golangci-lint run --timeout=5m -c .golangci.yml

    - name: Go test
      run: |
        # we run vet in another step
        go test -vet=off -timeout=1m ./...
        # -race can easily make the crypto stuff 10x slower
        go test -vet=off -timeout=15m -race -covermode atomic -coverprofile=covprofile ./...

    - name: Go analyze
      run: |
        diff -u <(echo -n) <(gofmt -s -d $(git ls-files '*.go'))
        go vet ./...
        curl -L https://github.com/dominikh/go-tools/releases/download/2020.2.1/staticcheck_linux_amd64.tar.gz | tar -xzf -
        ./staticcheck/staticcheck ./...
 
    - name: Install goveralls
      env:
        GO111MODULE: off
      run: go get github.com/mattn/goveralls

    - name: Send coverage to coverall.io
      env:
        COVERALLS_TOKEN: ${{ secrets.github_token }}
      run: goveralls -coverprofile=covprofile -service=github

  compose-test:
    runs-on: self-hosted
    if: github.repository == 'vocdoni/vocdoni-node'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Run compose script
        run: |
          export COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1
          export DOCKER_CLI_EXPERIMENTAL=enabled
          # Steps only needed in custom concurrent runner
          # export COMPOSE_PROJECT_NAME=${RANDOM}${RANDOM}_testsuite
          # export TESTSUITE_BUILD_TAG=${CI_COMMIT_SHA::10}
          # export COMPOSE_HOST_PATH=${PWD}/dockerfiles/testsuite
          # export COMPOSE_DVOTE_PORT_MAPPING="9090" # Will use a random available port mapping
          cd dockerfiles/testsuite
          docker-compose build
          ./start_test.sh

  docker-release:
    runs-on: self-hosted
    needs: [go-tests, compose-test]
    if:
      github.ref == 'refs/heads/master' || github.ref == 'refs/heads/stage' || github.ref == 'refs/heads/release-*' || github.ref == 'refs/heads/dev' 
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      # - name: Set up QEMU
      #   id: qemu
      #   uses: docker/setup-qemu-action@v1
      #   with:
      #     image: tonistiigi/binfmt:latest
      #     platforms: all
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Get short branch name
        id: var
        shell: bash
        # Grab the short branch name, convert slashes to dashes
        run: |
         echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/} | tr '/' '-' )"
      - name: Push to Docker Hub, Packages and ghcr.io
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.release
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            vocdoni/go-dvote:latest, vocdoni/go-dvote:${{ steps.var.outputs.branch }},
            ghcr.io/vocdoni/go-dvote:latest,ghcr.io/vocdoni/go-dvote:${{ steps.var.outputs.branch }}
      
